/* styling base skeleton component  */
.skeleton{
    background: #ddd;
    border-radius: 4px;
    margin: 0%;
    padding: 0%;
}

.skeleton.text{
    width: 50%;
    height: 30px;
}
.skeleton.title{
    width: 70%;
    height: 6vh;
    left: 50px;
    top: 10px;
}


